<!doctype html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <title>Docker Flask Uygulaması</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Docker Flask Uygulaması</h1>

    <form method="POST">
        <input type="text" name="isim" placeholder="Adınızı girin" required>
        <input type="text" name="mesaj" placeholder="Mesajınızı girin" required>
        <button type="submit">Gönder</button>
    </form>

    <h3>Gönderilen Mesajlar</h3>
    <ul>
        {% for item in mesajlar %}
            <li><b>{{ item.isim }}</b>: {{ item.mesaj }}</li>
        {% endfor %}
    </ul>
</body>
</html>
